<!-- Crear la View Palaces -->
<section data-ng-controller="PalacesController" class="w3-modal" id="id01" >
    <div class="w3-modal-content w3-card-8 w3-animate-zoom" id="modal-window-create-palace">
        <div class="w3-center">          
            <h2  class="w3-center modal-title " ><strong>Nuevo Palacio</strong></h2>
            <a href="#!/palaces" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright" title="Close Modal">&times;</a>
       </div>


        <!-- El formulario nuevo palacio -->
        <form class="w3-container" data-ng-submit="create()" method="post" enctype="multipart/form-data">
            <div class="w3-section">
                <div class="col-sm-6">
                    <div>
                        <label for="name">Nombre</label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" data-ng-model="name" id="name" placeholder="Nombre" required>
                    </div>
                    <div>
                        <label for="coord">Coordenadas</label>
                        <div class="input-coord">
                            <input class="w3-input w3-border w3-margin-bottom" type="number"  step="0.000001" data-ng-model="lat" id="lat" placeholder="Latitud" required>
                            <input class="w3-input w3-border w3-margin-bottom" type="number"  step="0.000001" data-ng-model="lng" id="lng" placeholder="Longitud" required>
                        </div>

                    </div>

                    <div>
                        <label for="town">Ciudad</label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" data-ng-model="town" id="town" placeholder="Ciudad" required>
                    </div>
                    <div>
                        <label for="country">Pais</label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" data-ng-model="country" id="country" placeholder="Pais" required>
                    </div>
                 </div>               
                 <div class="col-sm-6">
                        <label for="web">Pagina Web</label>
                        <input class="w3-input w3-border w3-margin-bottom" type="url" data-ng-model="web" id="web" placeholder="Página web" >

                        <label for="email">Correo electrónico</label>
                        <input class="w3-input w3-border w3-margin-bottom" type="email" data-ng-model="email" id="email" placeholder="Correo electrónico" >

                        <label for="phone">Teléfono</label>
                        <input class="w3-input w3-border w3-margin-bottom" type="tel" data-ng-model="phone" id="phone" placeholder="Teléfono" >

                        <label for="address">Dirección</label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" data-ng-model="address" id="address" placeholder="Dirección" >
                 </div>               
                 <div class="col-sm-12">
                    <div>
                        <label for="resena">Reseña</label><br />
                        <textarea class="resena" data-ng-model="resena" id="resenaCreatView "  rows="5" placeholder="Reseña"></textarea>
                    </div>

                     <div class="imagesToUpload">
                         <div class="fileUpload w3-btn">
                             <label for="imgPalace">Cargar imágenes:</label>
                             <input class="w3-btn w3-blue upload" type="file" id="imgPalace" name="imgPalace" ngf-select ng-model="files" multiple accept="image/*" ngf-keep="true" ngf-keep-distinct="true" />
                         </div>
                         <a class="w3-btn w3-red" href="#!/palaces/create" type="button" id="cancelBtn" data-ng-click="deletePictureSelection()">Borrar</a>

                         <div class="listImgToUpload">
                             <div class="item-pack-img-comment w3-card-12" ng-repeat="picture in files">
                                <div class = "centraImg">
                                    <div class="text-center">
                                        <a href="#">
                                            <img class="itemPalace" ngf-src="picture" ngf-background="file" height="50" />
                                        </a>
                                    </div>
                                </div>
                                 
                                 <div class="w3-container ">
                                     <textarea class="item-comment" data-ng-model="picture.comment" cols="30" rows="5" placeholder="Comente sobre esta fotografía"></textarea>

                                 </div>
                             </div>
                         </div>
                     </div>

                </div>                
                <div class="col-sm-12">
                    <div>
                        <input class="w3-btn w3-green ok" type="submit">
                    </div>
                    <!-- El elemento mensaje de error -->
                    <div data-ng-show="error">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div class="col-sm-12">            </div>
        </form>
    </div class="w3-modal-content w3-card-8 w3-animate-zoom" id="modal-window-signin">
</section>